# Ignore Python virtual environment
venv/

# Ignore Python cache files
modules/__pycache__/

# Ignore macOS system files
.DS_Store

# Ignore Google JSON OAuth Credentials
pull_youtube_messages_credentials.json